/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}
.show-hide-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  background-color: #ffffff;
  padding: 7px;
  color: #dd1264;
  font-size: 18px;
  font-weight: 790;
  border-radius: 9px;
}
.names-container {
  background-color: #fddddb;
  display: flex;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.name {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.name-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
